.counter-container {
    display: flex;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.seconds {
    margin: 0 24px;
}

.counter-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

